.radio-input{
    display: flex;
    &__check{
        margin-right: spacing(2);
    }

    &__label {
        @include font-size-quarter('medium');
        @include color ('shark');
        font-weight: 700;
    }
}